#title{
    font-family: 'Pacifico', cursive; 
    font-size: 45px;
    color: black;
    
}
body{
  background-image: url("background.jpg");
  background-size: cover;
}
#Poem{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  display: none;
}

#first{
 width: 630px;
    height:200px;
}
#fourth{
 width: 630px;
      height:200px;
}
#second{
  height: 500px;
}
#third{
 height: 500px;
}
#main{
    height:500px;
    width:500px;
}